<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-5 col-lg-6">
          <div class="card card-stats mb-6 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Horas realizadas</h5>
                  <span class="h2 font-weight-bold mb-0">{{completedHours}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="far fa-clock"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Atividades concluídas</h5>
                  <span class="h2 font-weight-bold mb-0">{{completedActivities}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="far fa-check-square"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-12 mb-xl-12">
      <div class="card shadow">
        <div class="table-responsive">
          <!-- Projects table -->
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col text-right">
                <a href="#/activity" class="btn btn-sm btn-success">
                  <i class="fas fa-plus"></i>
                  Nova Atividade
                </a>
              </div>
            </div>
          </div>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Atividade</th>
                <th scope="col">Tempo previsto</th>
                <th scope="col">Tempo realizado</th>
                <th scope="col">Tempo restante</th>
                <th scope="col">Adicionar horas</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of activities">
                <th scope="row">
                  {{activity.name}}
                </th>
                <td>
                  {{activity.estimatedHours}}
                </td>
                <td>
                  {{activity.completedHours}}
                </td>
                <td>
                  {{activity.remainingTime}}
                </td>
                <td>
                  <a routerLinkActive="active" routerLink='/hours'
                    class="icon icon-shape bg-primary text-white rounded-circle shadow">
                    <i class="far fa-clock"></i>
                  </a>
                </td>
                <td>
                  <a routerLinkActive="active" (click)="goToActivity('edit', activity.id, activity.name, activity.description, activity.estimatedHours)"
                    class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-pen"></i>
                  </a>
                </td>
                <td>
                  <a routerLinkActive="active" (click)="goToActivity('delete', activity.id, activity.name, activity.description, activity.estimatedHours)"
                    class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>