<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div *ngIf="this.action === 'activity'" class="text-muted text-center mt-2 mb-4">Nova Atividade</div>
                    <div *ngIf="this.action === 'edit'" class="text-muted text-center mt-2 mb-4">Editar Atividade</div>
                    <div *ngIf="this.action === 'delete'" class="text-muted text-center mt-2 mb-4">Remover Atividade</div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form">
                        <div class="form-group">
                            <label>Título</label>
                            <div class="input-group input-group-alternative mb-3">
                                <input #title class="form-control" type="text" value={{name}}>
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-pen"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Descrição</label>
                            <div class="input-group input-group-alternative mb-3">
                                <input #description class="form-control" type="text" value={{activityDescription}}>
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-pen"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tempo Previsto</label>
                            <div class="input-group input-group-alternative">
                                <input #estimatedHours class="form-control" placeholder="Tempo previsto" value={{estimatedTime}}>
                            </div>
                        </div>
                        <div *ngIf="this.action === 'activity'" class="text-center">
                            <button type="button" (click)="add(title.value, description.value, estimatedHours.value)" class="btn btn-success mt-4">Salvar</button>
                        </div>
                        <div *ngIf="this.action === 'edit'" class="text-center">
                            <button type="button" (click)="update(title.value, description.value, estimatedHours.value)" class="btn btn-success mt-4">Salvar</button>
                        </div>
                        <div *ngIf="this.action === 'delete'" class="text-center">
                            <button type="button" (click)="delete()" class="btn btn-warning mt-4">Remover</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>